body {
  background-color: #daf5ff;
}

.records {
  margin: 20px 20px 20px 0;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px #777777;
  border-radius: 10px;
  width: 500px;
  height: calc(100vh - 140px);
  overflow: scroll;
}

.records::-webkit-scrollbar {
  display: none;
}

.display {
  display: flex;
  align-items: center;
  gap: 20px;
}

.area01 {
  margin: 20px 0 20px 20px;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px #777777;
  border-radius: 10px;
  height: calc(100vh - 140px);
  flex: 1;
  position: relative;
}

.area01_header_currentMonth {
  font-size: 56px;
  color: #fff;
  width: 300px;
  height: 100px;
  box-shadow: 0px 0px 5px 1px #777777;
  border-radius: 0 50px 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #50b9df;
  margin: 30px;
}

.area01_header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 56px;
}

/* .area01_header_content .title {
  text-align: center;
  font-size: 56px;
}

.area01_header_content .amount {
  font-size: 56px;
  text-align: center;
} */

h4 {
  margin: 0;
}
