.inputForm {
  width: 90%;
  box-shadow: 0px 0px 5px 1px #777777;
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px;
}

.formArea {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttonArea {
  margin-top: 30px;
  display: flex;
  justify-content: end;
  gap: 12px;
}

.buttonOk {
  width: 120px;
  height: 50px;
  font-size: 24px;
}

.buttonCancel {
  width: 120px;
  height: 50px;
  font-size: 24px;
}

.title {
  width: 20%;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.inputform {
  width: 55%;
  font-size: 24px;
}
